apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: quote-backend-pvc
  namespace: quote-generator
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  # storageClassName: standard  # uncomment/adjust if your cluster needs a specific storage class
